In [8]:
import pandas as pd

In [9]:
class NormalDistribution():
    def __init__(self, x_min, x_max, mu_min, mu_max, sigma_min, sigma_max):
        """
        TBA
        :param x_min:
        :param x_max:
        :param mu_min:
        :param mu_max:
        :param sigma_min:
        :param sigma_max:
        """
        self.x_min = x_min
        self.x_max = x_max
        self.mu_min = mu_min
        self.mu_max = mu_max
        self.sigma_min = sigma_min
        self.sigma_max = sigma_max

In [10]:
x_min = -10
x_max = 10
mu_min = -3
mu_max = 3
sigma_min = 0.5
sigma_max = 3

nd = NormalDistribution(x_min, x_max, mu_min, mu_max, sigma_min, sigma_max)

In [11]:
df = pd.DataFrame.from_records([vars(nd)], columns=vars(nd).keys())

In [12]:
df

   x_min  x_max  mu_min  mu_max  sigma_min  sigma_max
0    -10     10      -3       3        0.5          3

In [13]:
nd1 = NormalDistribution(x_min, x_max, mu_min, mu_max, sigma_min, sigma_max)

In [14]:
df1 = pd.DataFrame.from_records([vars(nd1)], columns=vars(nd1).keys())

In [15]:
pd.concat([df, df1], ignore_index=True)

   x_min  x_max  mu_min  mu_max  sigma_min  sigma_max
0    -10     10      -3       3        0.5          3
1    -10     10      -3       3        0.5          3

In [16]:
df

   x_min  x_max  mu_min  mu_max  sigma_min  sigma_max
0    -10     10      -3       3        0.5          3

In [17]:
df.to_csv('test.csv')

In [25]:
new_df = pd.read_csv('test.csv', index_col=0)

In [26]:
new_df

   x_min  x_max  mu_min  mu_max  sigma_min  sigma_max
0    -10     10      -3       3        0.5          3